[submodule "submodule-packages/OpenClash"]
	path = submodule-packages/OpenClash
	url = https://github.com/vernesong/OpenClash
	branch = master
[submodule "submodule-packages/openwrt-passwall"]
	path = submodule-packages/openwrt-passwall
	url = https://github.com/xiaorouji/openwrt-passwall
	branch = main
[submodule "submodule-packages/openwrt-passwall-packages"]
	path = submodule-packages/openwrt-passwall-packages
	url = https://github.com/xiaorouji/openwrt-passwall-packages
	branch = main
[submodule "submodule-packages/OpenWrt-nikki"]
	path = submodule-packages/OpenWrt-nikki
	url = https://github.com/nikkinikki-org/OpenWrt-nikki
	branch = main
